/* styles/header.css */
header {
  background-color: #333;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 40px; 
  margin-right: 20px;
  border-radius: 50%;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 8px; 
  font-size: 16px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.iconNav {
  color: white;
  font-size: 16px; 
}
