@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
  font-family: 'Orbitron', sans-serif;
}

.projects {
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
  color: #fff;
  padding: 50px 0;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

.projects h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;

}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-item {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border: 1px solid #00ff00;
}

.project-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(0, 255, 0, 0.7);
}

.project-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
}

.project-item img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.project-item p {
  font-size: 1rem;
  margin-bottom: 10px;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
}

.project-item a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  color: #fff;
  background: #ff007f;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s;
}

.project-item a:hover {
  background: #ff1a8c;
}

.project-item .technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.project-item .technologies p {
  font-size: 1rem;
  margin-bottom: 10px;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 2rem;
  margin: 5px 0;
  color: #00ff00;
}
